html{
    height: 100%;
}

.mae {
    border-radius: 5px;
    background-color: black;
    color: white;
    fill:gray ;
}
 .dois {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 5px gray;
 }

 .tres {

 }

 .mensagem {
    display: flex;
    background-color: red;
    width: fit-content;
    padding: 20px;
    position: relative;
 }

 .dropdown {
position: absolute;
top: 0px;
right: 0px;
border: ;
 }

 .doublecheck {
position: absolute;
bottom: 0px;
right: 0px;
color: blue;
border: ;

}
